<div id= "editor-container">
	<div id="editor-heading-wrapper"> <h5"editor-heading"><i class="fa fa-code" aria-hidden="true"></i> enter your source code here</h5></div>
	<div id="editor">#Place your code here</div>
	<script src="/js/ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/ace/src-min/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
	<!-- <script src="/js/ace/src-min/mode-javascript.js" type="text/javascript" charset="utf-8"></script> -->
	<script src="/js/ace/src-min/mode-ruby.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/ace/src-min/mode-java.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/ace/src-min/mode-python.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/ace/src-min/mode-cobol.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/ace/src-min/mode-c_cpp.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/ace/src-min/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
	<script>
    var editor = ace.edit("editor");
    // editor.setTheme("ace/theme/twilight");
    var JavaScriptMode = ace.require("ace/mode/ruby").Mode;
		editor.session.setMode(new JavaScriptMode());
		editor.setOption("minLines", 25);
		editor.setOption("maxLines", 25);
		editor.setOption("fontSize", "12pt");
	</script>
	<div editor-toolbar>
		<%= render partial: 'shared/toolbar' %>
	</div>
	gfhjk
	<i class="fa-keyboard"></i>
</div>
<i class="fa fa-keyboard"></i>