<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>
<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>

<div class="activity">
	This is a recent activity
	<span style="display:inline;">
		<i class="fa fa-arrow-right"></i>
	</span>
</div>
