
<div id = "editor-row">
	<%= render partial: 'shared/editor' %>
	<div id="input-output-column">	
		<div id="input-box">
			<div class="form-group purple-border">
		    <label for="exampleFormControlTextarea4">Type your input here</label><br>
		    <textarea class="form-control" id="exampleFormControlTextarea4" rows="10"></textarea>
			</div>
		</div>
		<!-- <div id="output-box">
			<h4>Output Box</h4>
			<div id="output-area">
				
			</div>
		</div> -->
		<%= render :partial => "shared/toolbar" %>
	</div>
	<div id="recent-activity">
		<h3>Recent Activity</h3>
		<%= render :partial => "shared/recent_activities" %>
	</div>
</div>